.Preisanzeige{
    color: green;
}
ion-card
{
    width:32%;
    display: inline-block;
}
.Hauptblock {
    float: center;
    background-color: rgb(241, 241, 157);
    width: 1565px;
    height: 80px;
    margin: 10px;
    border: 2px black;
    
}
.logo {
    max-height: 80px;
    max-width: 200px;
    display: inline;
}
#title {
    color: white;
    padding: 30px;
    display: inline;
    font-size: 30px;
    
}


.EssensBild{
    height: 420px;
    object-fit: cover;
}
#Speiseplan{
    display: flex;
    flex-wrap: wrap;
}

.Kategorie {

    display: block;
    height: 15px;
}

.Kalendar {
display: flex;
align-items: right;
justify-content: right;
}